doctype html
html
    head
        title Hello World!

        link(href="/vendor/foundation/css/foundation.min.css", rel="stylesheet", type="text/css")
    body
        div.row
            div.small-12.text-center.columns
                h2 Hello World!
                button Test Button!
