doctype html
html(ng-app="Archetype")
    head
        title Hello World!

        link(href="/vendor/foundation/css/foundation.min.css", rel="stylesheet", type="text/css")
    body
        div.row
            div.small-12.text-center.columns
                div(ng-controller="HelloWorld")
                    h2 Hello {{name}}
                    br
                    b Your name:
                    input(type="text", ng-model="name")

        //- Angularjs
        script(src="/vendor/angular/angular.min.js", type="text/javascript")

        //- Our js
        script(src="/bundle.js", type="text/javascript")
